.git
.github
.gitignore
.gitattributes
.editorconfig
.env
.env.*
!.env.example
*.log
.vscode
.idea
.DS_Store
Thumbs.db
node_modules
vendor
tests
phpunit.xml
README.md
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
public/hot
public/storage
